.txt{
	font-color : black;
}

h2{
	font-color : blue;
	font-family: Lobster;
}

a{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3300ff), color-stop(1, #311bdb));
	background:-moz-linear-gradient(top, #3300ff 5%, #311bdb 100%);
	background:-webkit-linear-gradient(top, #3300ff 5%, #311bdb 100%);
	background:-o-linear-gradient(top, #3300ff 5%, #311bdb 100%);
	background:-ms-linear-gradient(top, #3300ff 5%, #311bdb 100%);
	background:linear-gradient(to bottom, #3300ff 5%, #311bdb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3300ff', endColorstr='#311bdb',GradientType=0);
	background-color:#3300ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #311bdb), color-stop(1, #3300ff));
	background:-moz-linear-gradient(top, #311bdb 5%, #3300ff 100%);
	background:-webkit-linear-gradient(top, #311bdb 5%, #3300ff 100%);
	background:-o-linear-gradient(top, #311bdb 5%, #3300ff 100%);
	background:-ms-linear-gradient(top, #311bdb 5%, #3300ff 100%);
	background:linear-gradient(to bottom, #311bdb 5%, #3300ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#311bdb', endColorstr='#3300ff',GradientType=0);
	background-color:#311bdb;
}
a:active {
	position:relative;
	top:1px;
}
